<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<header th:insert="blocks/blocks :: header-admin"></header>
<div class="position">
    <h3>Добавить адрес</h3>
    <form th:method="POST" th:action="@{/address/new}" th:object="${address}" >
        <input type="text" th:field="*{house}" placeholder="Номер дома" required="true" /> <br/>
        <input type="text" th:field="*{flat}" placeholder="Квартира" required="true" /> <br/>
        <input type="tel" th:field="*{phone}" placeholder="XXX-XX-XX" required pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}"   /> <br/>
        <input type="number" th:field="*{district_id}" placeholder="ID участка"  required  /> <br/>
        <p>
            <input type="submit" value="Добавить" />
            <input type="reset" value="Очистить" />
        </p>
    </form>
</div>
<footer th:insert="blocks/blocks :: footer-admin"></footer>
</body>
</html>