<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<header th:insert="blocks/blocks :: header-admin"></header>
<div class="position">
    <h3>Добавить пациента</h3>
    <form th:method="POST" th:action="@{/patient/new}" th:object="${patient}" >
        <input type="text" th:field="*{name}" placeholder="Имя" required="true" /> <br/>
        <input type="text" th:field="*{surname}" placeholder="Фамилия" required="true" /> <br/>
        <input type="text" th:field="*{patronym}" placeholder="Отчество"  /> <br/>
        <p>Дата рождения: </p>
        <input type="date" th:field="*{birth}" placeholder="Дата" required="true" />
        <p>Пол:         <input type="radio" th:field="*{gender}" value="1" />Мужской
            <input type="radio"  th:field="*{gender}"  value="2" />Женский </p>
        <br>
        <input type="number" th:field="*{medcard}" placeholder="Номер медкарты" required="true" /> <br/>
        <input type="number" th:field="*{address_id}" placeholder="ID адреса" required="true" /> <br/>
        <p>
            <input type="submit" value="Добавить" />
            <input type="reset" value="Очистить" />
        </p>
    </form>
</div>
<footer th:insert="blocks/blocks :: footer-admin"></footer>
</body>
</html>