<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<header th:insert="blocks/blocks :: header-admin1"></header>
<div class="position">
    <h3>Удалить специальность</h3>
    <form th:method="POST" th:action="@{/speciality/delete/{id}(id=${speciality.getId()})}" th:object="${speciality}" >
        <p>
            <button class="deleteInput" type="submit">Удалить</button>
        </p>
    </form>
</div>
<footer th:insert="blocks/blocks :: footer-admin"></footer>
</body>
</html>