<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="header-admin">
    <h3>Выберите таблицу для управления</h3>
    <div class="header_container1">
        <div class="logo">
            <a href="http://localhost:8081/"  title="Обновить">
					<span class="img_logo">
						<img src="../img/logo1.png" alt="small_logo">
					</span>
            </a>
        </div>
        <div class="header_content1">
            <nav class="menu">
                <ul class="header_list1">
                    <li class="header_item"><a href="http://localhost:8081/patient">patient</a></li>
                    <li class="header_item"><a href="http://localhost:8081/doctor">doctor</a></li>
                    <li class="header_item"><a href="http://localhost:8081/room">room</a></li>
                    <li class="header_item"><a href="http://localhost:8081/speciality">speciality</a></li>
                    <li class="header_item"><a href="http://localhost:8081/district">district</a></li>
                    <li class="header_item"><a href="http://localhost:8081/address">address</a></li>
                    <li class="header_item"><a href="http://localhost:8081/record">record</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="header-admin1">
    <h3>Выберите таблицу для управления</h3>
    <div class="header_container1">
        <div class="logo">
            <a href="http://localhost:8081/"  title="Обновить">
					<span class="img_logo">
						<img src="../../img/logo1.png" alt="small_logo">
					</span>
            </a>
        </div>
        <div class="header_content1">
            <nav class="menu">
                <ul class="header_list1">
                    <li class="header_item"><a href="http://localhost:8081/patient">patient</a></li>
                    <li class="header_item"><a href="http://localhost:8081/doctor">doctor</a></li>
                    <li class="header_item"><a href="http://localhost:8081/room">room</a></li>
                    <li class="header_item"><a href="http://localhost:8081/speciality">speciality</a></li>
                    <li class="header_item"><a href="http://localhost:8081/district">district</a></li>
                    <li class="header_item"><a href="http://localhost:8081/address">address</a></li>
                    <li class="header_item"><a href="http://localhost:8081/record">record</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="footer-admin">
    <div>
        <a class="top" href="#top" title="Наверх">⮝</a>
    </div>
    <div>
        <a class="adown" href="#adown" title="Вниз">⮟</a>
    </div>
    <div> <a id="adown"></a> </div>
</div>