<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<header th:insert="blocks/blocks :: header-admin1"></header>
<div class="position">
    <h3>Изменить специальность</h3>
    <form th:method="POST" th:action="@{/room/edit/{id}(id=${room.getId()})}" th:object="${room}" >
        <input type="number" th:field="*{number}" id="number" placeholder="Номер" required="true"/> <br>
        <input type="text" th:field="*{name}" id="name" placeholder="Название" required="true"/> <br>
        <p>
            <button class="editInput" type="submit">Изменить</button>
            <input type="reset" value="Очистить" />
        </p>
    </form>
</div>
<footer th:insert="blocks/blocks :: footer-admin"></footer>
</body>
</html>